.not-auth-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Un fond semi-transparent pour l'effet d'obscurcissement */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Assurez-vous que la boîte de dialogue est au-dessus de tout le reste */
}

.not-auth-message {
  font-size: 18px;
  margin-bottom: 16px;
}

