<div *ngIf="isAdmin()">
<button mat-icon-button [matMenuTriggerFor]="secondaryMenu" (click)="toggleSecondaryMenu()">
  <mat-icon>edit_square</mat-icon>
</button>
<span>Manage</span>
<mat-menu #secondaryMenu="matMenu">
  <button mat-menu-item (click)="manageCategories()">
    <mat-icon>edit</mat-icon>
    <span>Manage categories</span>
  </button>
  <button mat-menu-item (click)="manageCompetences()">
    <mat-icon>edit</mat-icon>
    <span>Manage competences</span>
  </button>
  <button mat-menu-item (click)="manageQuests()">
    <mat-icon>edit</mat-icon>
    <span>Manage quests</span>
  </button>
</mat-menu>

</div>
