<mat-tab-group class="center-container"  [(selectedIndex)]="activeTabIndex">


  <mat-tab label="Login">
    <form>
      <!-- Form fields for login -->
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="credentials.login" name="username" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="credentials.password" name="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
  </mat-tab>
  <mat-tab label="Register">
  <form>
    <!-- Form fields for registration -->
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="user.email" name="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput [(ngModel)]="user.login" name="login" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="user.password" name="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="register()">Register</button>
  </form>
</mat-tab>
</mat-tab-group>
