
<h2>Heroes List</h2>

<div *ngFor="let hero of heroes" class="hero-card">
  <h1>{{ hero.heroName }}</h1>
  <p>Level: {{ hero.lvl }}</p>
  <p>Experience: {{ hero.experience }}</p>
  <p>Life Point: {{ hero.lp }}</p>
  <p>Damage Per Second: {{ hero.dps }}</p>
  <p>Energy: {{ hero.energy }}</p>

  <p>Category: {{hero.categoryName}}</p>
  <p>Competences: {{hero.competencesNames}}</p>

  <div *ngIf="editingHeroId === hero.id" class="edit-section">
    <label for="editedHeroName">Hero Name:</label>
    <input type="text" id="editedHeroName" [(ngModel)]="editedHeroName" name="editedHeroName" />





  </div>

  <div *ngIf="editingHeroId !== hero.id">
    <button (click)="confirmRemoveHero(hero.id)" class="action-button remove-button">Remove</button>
  </div>

</div>
