<h2>Heroes List</h2>

<div *ngFor="let hero of heroes" class="hero-card">

<!--  <div *ngIf="userId == hero.userHeroes.id">-->

  <div class="card-header">
    <h1>{{ hero.heroName }}</h1>


    <p>Level: {{ hero.lvl }}</p>

      <label>Experience:</label>
      <div class="stat-bar experience-bar">
        <div class="stat-value">{{ hero.experience }}/100</div>
    </div>

  </div>

  <div class="card-info">
    <p>Category: {{hero.heroCategory}}</p>
    <p>Competences: {{hero.competences}}</p>
  </div>

  <div class="card-body">

    <div class="stat">
      <label>Damage:</label>
      <div class="stat-bar damage-bar">
        <div class="stat-value">{{ hero.dps}}</div>
      </div>
    </div>

    <div class="stat">
      <label>Life Point:</label>
      <div class="stat-bar life-point-bar">
        <div class="stat-value">{{ hero.lp}}/{{ hero.lp}}</div>
      </div>
    </div>

    <div class="stat">
      <label>Energy:</label>
      <div class="stat-bar energy-bar">
        <div class="stat-value">{{ hero.energy}}/{{ hero.energy}}</div>
      </div>
    </div>


    <div class="button">
      <button (click)="confirmRemoveHero(hero.id)" class="action-button remove-button">Remove</button>
    </div>

  </div>
<!--</div>-->

</div>
