<div class="div-form">
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <h2>Create new category</h2>


  <div>
  <label for="categoryName">Category Name:</label>
  <input type="text" id="categoryName" formControlName="categoryName" />
  </div>

    <div>
  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>
    </div>

  <div>
    <label for="lp">Life point:</label>
    <input type="number" id="lp" formControlName="lp" />
    <!-- Ajoutez une vérification d'erreur pour le champ LP si nécessaire -->
  </div>

  <div>
    <label for="dps">Damage:</label>
    <input type="number" id="dps" formControlName="dps" />
    <!-- Ajoutez une vérification d'erreur pour le champ DPS si nécessaire -->
  </div>

  <div>
    <label for="energy">Energy:</label>
    <input type="number" id="energy" formControlName="energy" />
    <!-- Ajoutez une vérification d'erreur pour le champ Energy si nécessaire -->
  </div>

  <!-- Ajoutez d'autres champs du formulaire si nécessaire -->
  <div>
    <button type="submit" [disabled]="!categoryForm.valid">Create Category</button>
  </div>
</form>
</div>
