
h2 {
  padding-left: 1rem;
}

.quest-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  word-wrap: break-word;
}

.quest-card:hover {
  transform: scale(1.05); /* Effet d'échelle lors du survol */
}

.edit-section {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 5px);
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
textarea{
  width: calc(100% - 5px);
  height: 20rem;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.action-button {
  color: white;
  cursor: pointer;
  border: none;
  padding: 8px;
  margin-top: 5px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;

}

.action-button:hover {
  background-color: #333; /* Changement de couleur lors du survol */
}

.remove-button {
  background-color: #ff5252;

}

.edit-button {
  background-color: #4caf50;
  margin-right: 10px
}
.save-button{
  background-color: #2196f3;
  margin-right: 10px;
  border-radius: 4px; /* Coins arrondis */

}

.cancel-button {
  background-color: #ff5252;
  border-radius: 4px; /* Coins arrondis */

}
.save-button:hover{
  background-color: darkblue;
}
.cancel-button:hover {
  background-color:darkred ;
}
