<h2>Quests List</h2>

<div *ngFor="let quest of quests" class="quest-card">
  <h3>{{ quest.questName }}</h3>
  <p>Level required: {{ quest.questLevel }}</p>
  <p>life point required: {{ quest.lp }}</p>
  <p>Damage required: {{ quest.dps }}</p>
  <p>Experience point provide: {{ quest.experience }}</p>
  <p>Description: </p>
  <p>{{ quest.description }}</p>

  <div *ngIf="editingQuestId === quest.id" class="edit-section">
    <label for="editedQuestName">Quest Name:</label>
    <input type="text" id="editedQuestName" [(ngModel)]="editedQuestName" name="editedQuestName"/>

    <label for="editedQuestLevel">Level required:</label>
    <input type="number" id="editedQuestLevel" [(ngModel)]="editedQuestLevel" name="editedQuestLevel"/>

    <label for="editedQuestLp">Life point required:</label>
    <input type="number" id="editedQuestLp" [(ngModel)]="editedQuestLp" name="editedQuestLp"/>

    <label for="editedQuestDps">Damage required:</label>
    <input type="number" id="editedQuestDps" [(ngModel)]="editedQuestDps" name="editedQuestDps"/>

    <label for="editedQuestExperience">Experience point provide:</label>
    <input type="number" id="editedQuestExperience" [(ngModel)]="editedQuestExperience" name="editedQuestExperience"/>

    <label for="editedQuestDescription">Description:</label>
    <textarea id="editedQuestDescription" [(ngModel)]="editedQuestDescription" style="resize: none;"></textarea>

    <button
      (click)="saveEditedQuest(quest.id, { questName: editedQuestName, questLevel: editedQuestLevel, lp: editedQuestLp, dps: editedQuestDps, description: editedQuestDescription })"
      class="action-button save-button">Save
    </button>
    <button (click)="cancelEdit()" class="action-button cancel-button">Cancel</button>
  </div>

  <div *ngIf="editingQuestId !== quest.id">
    <button (click)="editQuest(quest)" class="action-button edit-button">Edit</button>
    <button (click)="confirmRemoveQuest(quest.id)" class="action-button remove-button">Remove</button>
  </div>
</div>
