<!-- app.component.html -->
<mat-toolbar  class="custom-toolbar" color="primary">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" (click)="toggleMainMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Menu</span>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item (click)="ChooseHero()">
      <mat-icon>person_add</mat-icon>
      <span>Choisir un héro</span>
    </button>
    <button mat-menu-item (click)="ListHero()">
      <mat-icon>list</mat-icon>
      <span>Voir mes héros</span>
    </button>
    <button mat-menu-item (click)="LaunchQuest()">
      <mat-icon>rocket_launch</mat-icon>
      <span>lancer une quêtes</span>
    </button>

  </mat-menu>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="secondaryMenu" (click)="toggleSecondaryMenu()">
    <mat-icon>edit</mat-icon>
  </button>
  <mat-menu #secondaryMenu="matMenu">
    <button mat-menu-item (click)="createHero()">
      <mat-icon>add_circle</mat-icon>
      <span>Créer un héros</span>
    </button>
    <button mat-menu-item (click)="DeleteHero()">
      <mat-icon>remove_circle</mat-icon>
      <span>Supprimer un héros</span>
    </button>
    <button mat-menu-item (click)="createQuest()">
      <mat-icon>add_circle</mat-icon>
      <span>Créer une quête</span>
    </button>
    <button mat-menu-item (click)="DeleteQuest()">
      <mat-icon>remove_circle</mat-icon>
      <span>Supprimer une quête</span>
    </button>
    <button mat-menu-item (click)="createCategory()">
      <mat-icon>add_circle</mat-icon>
      <span>Créer une catégorie </span>
    </button>
    <button mat-menu-item (click)="DeleteCategory()">
      <mat-icon>remove_circle</mat-icon>
      <span>Supprimer une catégorie </span>
    </button>
    <button mat-menu-item (click)="createCompetence()">
      <mat-icon>add_circle</mat-icon>
      <span>Créer une compétence </span>
    </button>
    <button mat-menu-item (click)="DeleteCompetence()">
      <mat-icon>remove_circle</mat-icon>
      <span>Supprimer une compétence </span>
    </button>
  </mat-menu>

  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

